/*BEGIN PS4 Controller Styling*/
.controller.edit {
    background: url(assets/base.svg);
}

.edit .button {
    position: absolute;
    background: url(assets/face.svg);
}

.edit .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.edit .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.edit .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.edit .x {
    background-position: -113px 0;
    top: 58px;
}

.edit .y {
    background-position: 55px 0;
    left: 58px;
}

/*END PS4 Controller Styling*/
